<p class='link'><%= link_to "Go back to task list manager", "/" %></p>
<h1>We are TASK TEAM</h1>

<%= image_tag("people.png", :alt => "team", :class => "face") %>

<table>
  <tr>
    <th>Name</th>
    <th>Incomplete tasks</th>
    <th>More about this person</th>
  </tr>

  <tr>
    <% @people.each do |person| %>
    <td><%= person[:name] %></td>
    <td><%= person.tasks.where(completed_on: nil).count %></td>
    <td><%= link_to "About this person", "/people/show/#{person[:id]}" %></td>
  </tr>
    <% end %>
</table>
