<%= render "shared/header" %>

<p> Click on someone's name to see their details </p>

<div class="all_people">
<table>
  <tr>
    <th class="extra_padding">Person Name</th>
    <th class="extra_padding"># of Completed Tasks </th>
    <th># of Uncompleted Tasks</th>
  </tr>

  <% @people.each do |person|  %>
  <tr>
    <td class="extra_padding">
      <%= link_to "#{person.name}", "/people/#{person.id}" %>
    </td>

    <td class="extra_padding">
      <%= person.completed_task_count %>
    </td>
    <td>
      <%= person.uncompleted_task_count %>
    </td>
    </tr>
<% end %>
</table>
</div>

<%= render "shared/footer" %>
