<h1><%= "#{@person.name}'s Tasks" %></h1>

<table>
  <tr>
    <th> Name </th>
    <th> Description </th>
    <th> Completed? </th>
    <th> Date Completed </th>
  </tr>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task[:name] %></td>
      <td><%= task[:description] %></td>
      <td><%= task[:completed_at] ? "Yes" : "No" %></td>
      <td><%= task[:completed_at] %></td>
    </tr>
  <% end %>
</table>

<div class="home">
  <%= link_to "Back to Task List", "/tasks"%>
</div>

<div class="home">
  <%= link_to "Back to Users", "/people" %>
</div>
