<% content_for :head do %>
  <title>Details: <%= @person.name %></title>
<% end %>

<h1 class='title'><%= @person.name %></h1>

<main>
  <%= link_to "#{ @person.name }'s Tasks", person_tasks_path(@person.id), class: 'button' %>
  <%= link_to 'âœ', edit_person_path(@person), class: 'modify_button' %>
  <%= button_to 'âœ—', @person, class: 'modify_button', method: :delete, data: { confirm: "Are you sure you want to delete \"#{ @person.name }\" and all of his/her tasks?" } %>

</main>

<% content_for :nav do %>
<% end %>
