<% content_for :head do %>
  <title>Details: <%= @person.name %></title>
<% end %>

<h1 class='title'><%= @person.name %></h1>

<main>
  <%= render 'tasks/complete_task_list', { all_tasks: @person.tasks, display_assigned_to: false } %>
</main>

<% content_for :nav do %>
  <%= link_to 'All Tasks', tasks_path %> |
  <%= link_to 'Back', :back %>
<% end %>
