<h1>here I will add a new task.</h1>

<%= form_for @task do |f|%>
  <fieldset>
    <legend>Task Information</legend>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :description %>
    <%= f.text_field :description %>
  </fieldset>
  <%= f.submit 'Add new task' %>
<% end %>
