<ol>
  <% all_tasks.each_with_index do |task, i| %>
    <li class='<%=task.completed_at ? "complete" : "incomplete"%>'>
      <%= render 'checkbox', { task: task } %>
      <%= link_to task.name, task, class: 'task_name' %>

      <ul>
        <li><%= link_to '✎', edit_task_path(task), class: 'modify_button' %></li>
        <li><%= button_to '✗', task, class: 'modify_button', method: :delete, data: { confirm: "Are you sure you want to delete \"#{task.name}\"?" } %></li>
      </ul>
      <% if display_assigned_to %>
        <p class="owner">Assigned to: <%= link_to task.owner, Person.find(task.person_id) %></p>
      <% end %>
    </li>
  <% end %>
</ol>
