<ol>
  <% @all_tasks.each_with_index do |task, i| %>
    <li class='<%=task.completed_at ? "complete" : "incomplete"%>'>
      <%= form_for task do |f| %>
        <span class="task_name">
        <%= f.check_box :completed_at %>
        <%= f.label :completed_at, task.name %>
        </span>
        <%= f.submit 'Complete/Uncomplete' %>
      <% end %>

      <ul>
        <% if task.completed_at %>
          <li>
            <span class='complete_date'>Completed:
            <%= task.completed_at.to_formatted_s(:long) %>
            </span>
          </li>
        <% end %>
        <% if task.description %>
          <li class='task_descr'><%= task.description %></li>
        <% end %>
        <li><%= link_to 'Details', "/tasks/#{task.id}", class: "details_link" %></li>
        <li><%= link_to 'Edit', edit_task_path(task) %></li>
        <li><%= button_to 'Delete', "/tasks/#{task.id}", method: :delete, data: { confirm: "Are you sure you want to delete \"#{task.name}\"?" } %></li>
        <li><%= button_to 'Mark Done', task, method: :put, params: { :complete => 1 } %></li>
        <li><%= button_to 'Mark Not Done', task, method: :put, params: { :complete => 0 } %></li>
      </ul>
    </li>
  <% end %>
</ol>
