<ol>
  <% @all_tasks.each_with_index do |task, i| %>
    <li class='<%=task.completed_at ? "complete" : "incomplete"%>'>
      <% if task.completed_at %>
        <%= button_to '✔', task, method: :put, params: { :complete => 0 }, class: 'checkbox'%>
      <% else %>
        <%= button_to ' ', task, method: :put, params: { :complete => 1 }, class: 'checkbox' %>
      <% end %>
      <%= link_to task.name, task, class: 'task_name' %>

      <ul>
        <li><%= link_to '✎', edit_task_path(task), class: 'modify_button' %></li>
        <li><%= button_to '✗', task, class: 'modify_button', method: :delete, data: { confirm: "Are you sure you want to delete \"#{task.name}\"?" } %></li>
      </ul>
      <p class="owner">Assigned to: <%= task.owner %></p>
    </li>
  <% end %>
</ol>
