<%= form_for(@task) do |f| %>
  <div>
    <%= f.label :name, "Task:" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description, "Description:" %>
    <%= f.text_field :description %>
  </div>

  <%= f.submit %>
<% end %>
