<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Person</th>
      <th>Completed?</th>
      <th>Date Created</th>
      <th>Date Completed</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @task.name %></td>
      <td><%= @task.description %></td>
      <td><%= @task.person.name %></td>
      <td class="checkmark"><%= @task.completed? %></td>
      <td><%= @creation_date %></td>
      <td><%= @date %></td>
    </tr>
  </tbody>
</table>
