<h1> Details for Task <%= @task.id %> </h1>
<h1>Task List</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Assigned To</th>
      <th>Completed</th>
      <th>Date Completed</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @task.name %></td>
        <td><%= @task.description %></td>
       <td>
        <% if @task.person %>
          <a href = <%="/assigned_to_#{@task.person_id}"%>>
          <%= @task.person.name %></a>
        </td>
        <% else  %>
          </td>
        <% end %>
        <td><%= @task.completed %></td>
        <td><%= @task.completed_at%></td>
      <td><a href="<%="/task_#{@task.id}/edit"%>">edit</a></td>
      </tr>
  </tbody>
</table>

<a href="/">Take me back to my Task list</a>
