<% content_for :head do %>
  <title>Edit: <%= @task.name %></title>
<% end %>

<h1 class='title'>Edit</h1>

<main>
  <%= render 'form' %>
</main>

<% content_for :nav do %>
    <%= link_to 'All Tasks', tasks_path %> |
    <%= link_to 'Task Details', @task %> |
    <%= link_to 'Back', :back %>
<% end %>
