<h1> This Page is for Updating Your Task</h1>

<%= form_for @task, url: "/tasks/#{@task.id}" do |n| %>
<fieldset>
  <legend>Edit Your Task</legend>
    <%= n.label :name %>
    <%= n.text_field :name %>

    <%= n.label :description %>
    <%= n.text_field :description %>

    <%= n.label :completed_at %>
    <%= n.text_field :completed_at %>

</fieldset>
<%= n.submit 'Edit Task' %>
<% end %>
