<% content_for :head do %>
  <title>Edit: <%= @task.name %></title>
<% end %>

<main>
  <h1>Edit</h1>

  <%= render 'form' %>

  <%= link_to 'All Tasks', tasks_path %> |
  <%= link_to 'Task Details', @task %> |
  <%= link_to 'Back', :back %>
</main>
