<div class ="index">


  <h1> Task List </h1>
<p> Click on an individual task name to view its description or to update it. </p>

<table>
  <tr>
    <th>Name</th>
    <th>Date Completed</th>
    <th>Is this Done?</th>
  </tr>

  <% @tasks.each do |task| %>

  <tr>
    <td>
      <%= link_to "#{task.name}",
      "tasks/#{task.id}" %>
    </td>
    <td>
      <%= task.completed_at %>
    </td>
    <td>
      <%= button_to "Mark If Done", "tasks/completed_task/#{task.id}", method: :get %>
    </td>
    <td>
      <%= button_to "Delete", "tasks/confirm/#{task.id}", method: :get %>
    </td>
  </tr>

  <% end %>
</table>


<p class="index_delete">
<%= link_to "Create New Task", "tasks/new" %>

</p>
</div>
