<header>
<h1>Task List</h1>
</header>

<section>
<table>
  <tr>
    <th>Task Name</th>
    <th>Delete?</th>
    <th>Mark Complete</th>
    <th>Task Master</th>

  </tr>
<% @tasks.each do |task| %>
  <tr>

  <% if task[:completed_date] %>
  <!-- checks if date completed has passed, and adds id for strickthrough formmating-->

   <% if task[:completed_date] < Time.new %>
      <td id='completed'><%= link_to "#{task[:name]}", "/tasks/#{task[:id]}"%></td>
    <% else %>
      <td><%= link_to "#{task[:name]}", "/tasks/#{task[:id]}"%></td>
    <% end %>

  <% else %>
    <td><%= link_to "#{task[:name]}", "/tasks/#{task[:id]}"%></td>
  <% end %>

    <td><%= button_to "Delete Task", "tasks/#{task[:id]}", class: "delete", method: :delete, data: { confirm: "Are you sure you want to delete this task?" } %></td>
    <td><%= link_to "&#9744".html_safe, "tasks/#{task[:id]}/complete", method: :patch %></td>
    <% if task.person != nil %>
      <td> <%= task.person.name %></td>
    <% else %>
      <td>Task not yet assigned.</td>
    <% end %>
    </tr>
  <% end %>
</table>
</section>

<%= link_to "Add a New Task", "/tasks/new", id: "add" %>
<%= link_to "People", "/people" %>

