<div class="task_list">

  <ul>
    <% @all_tasks.each do |task| %>
      <li>
        <%= link_to "#{task[:name]}", "/tasks/#{task[:id]}" %>
        <% # NOTE TO SELF: 'link_to task[:name]' also works %>
        <!-- <span class="<%= task[:completed_at].nil? ? "invisible" : "visible" %>">
          <%= link_to "\u2714", "/tasks/#{task[:id]}", {method: :patch, class: "completed"}%>
        </span> -->
        <%= "(Recommended by: #{task.person.name})" %>
        <%= task[:completed_at].nil? ?
          (link_to "\u2714", "/#{task[:id]}", {method: :patch, class: "completed"}) :
          (link_to "\u2714", "/#{task[:id]}", {method: :patch, class: "not_completed"}) %>
        <%= link_to "\u2716", "/tasks/delete/#{task[:id]}", {method: :get, class: "delete"} %>
      </li>
    <% end %>
  </ul>

  <%= button_to "CLEAR ALL COMPLETED", "/tasks/delete/delete_all", {method: :get, class: "confirm"} %>

  <%= link_to "PEOPLE", "/people" %>

</div>
