<h1>Task List</h1>

<table>
  <tr>
    <th>
      Name
    </th>
    <th>
      Owner
    </th>
    <th>
      Status
    </th>
    <th class="center">
      Mark Done
    </th>
    <th class="center">
      Details
    </th>
    <th class="center">
      Delete
    </th>
  </tr>
  <tbody>
    <% @all_tasks.each do |task| %>
      <% if task.completed_date.present? %>
        <% @task_css = "completed" %>
      <% else %>
        <% @task_css = "incomplete" %>
      <% end %>
    <tr>
      <td class="<%= @task_css %>">
        <%= task.name %>
      </td>
      <td class="<%= @task_css %>">
        <%= task.person_id %>
      </td>
      <td class="<%= @task_css %>">
        <%= task.completed_date ? "Completed" : "Incomplete" %>
      </td>
      <td class="center">
        <% unless task.completed_date.present? %>
          <%= button_to "Done", { action: "mark_done", id: task.id }, method: :patch %>
        <% end %>
      </td>
      <td class="center">
        <%= link_to "Show", "/tasks/#{task.id}" %>
      </td>
      <td class="center">
        <%= link_to "Delete", "/delete_task/#{task.id}" %>
      </td>
    </tr>
    <% end %>

  </tbody>
</table>

<div class="button_block">
  <%= link_to "Create New Task", "/tasks/new" %>
</div>
