<div class ="index">


  <h1> Task List </h1>
<p> Click on an individual task name to view its description or to update it. </p>

<table>
  <tr>
    <th>Is this Done?</th>
    <th>Name</th>
    <th>Date Completed</th>
  </tr>

  <% @tasks.each do |task| %>
  <tr>
    <td>
      <% if task.completed_at %>
      <%= link_to "\u2610", "tasks/completed/#{task.id}", method: :patch %>
      <% end %>
    </td>
    <td>
      <%= link_to "#{task.name}", "tasks/#{task.id}" %>
    </td>
    <td>
      <%= task.completed_at %>
    </td>
    <td>
      <%= button_to "Delete", "tasks/confirm/#{task.id}", method: :get %>
    </td>
  </tr>

  <% end %>
</table>


<p class="index_delete">
<%= link_to "Create New Task", "tasks/new" %>

</p>
</div>
