<table>
  <thead>
  	<tr>
  	  <th>Task</th>
      <th>Person</th>
  	  <th class="checkmark">Completed?</th>
  	</tr>
  </thead>
  <tbody>
    <% @all_tasks.each do |task| %>
      <tr>
      	<td class="link"><%= link_to task.name, "tasks/#{task.id}" %></td>
        <td class="link"><%= link_to task.person.name, "people/#{task.person_id}" %></td>
        <td class="checkmark"><%= link_to task.checkbox, "tasks/#{task.id}/check", method: :patch%></td>
        <td class="link"><%= link_to "delete", "tasks/#{task.id}/delete" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "add a new task", "tasks/new", class: "default_button" %>

<%= link_to "All people", "/people", class: "button" %>
