<!-- NOTE TO SELF: This file can called .html.erb or .erb, html makes it clear that it'll end up as html.(?) -->
<div class="task_list">

  <ul>
    <% @all_tasks.each do |task| %>
      <li>
        <%= link_to "#{task[:name]}", "/tasks/#{task[:id]}" %>
        <!-- <span class="<%= task[:completed_at].nil? ? "invisible" : "visible" %>">
          <%= link_to "\u2714", "/tasks/#{task[:id]}", {method: :patch, class: "completed"}%>
        </span> -->
        <%= task[:completed_at].nil? ?
          (link_to "\u2714", "/tasks/#{task[:id]}", {method: :patch, class: "completed"}) :
          (link_to "", "/task/#{task[:id]}", {method: :patch, class: "not_completed"}) %>
        <%= link_to "\u2716", "/tasks/delete/#{task[:id]}", {method: :get, class: "delete"} %>
      </li>
    <% end %>
  </ul>

<!-- <table>
  <% @all_tasks.each do |task| %>
  <tr>
    <td>
      <%= link_to "#{task[:name]}", "/tasks/#{task[:id]}" %>
      <% # NOTE TO SELF: 'link_to task[:name]' also works %>
    </td>
    <td class="<%= task[:completed_at].nil? ? "invisible" : "visible" %>">
      &#x2713
    </td>
    <td>
      <%= button_to "DELETE", "/tasks/delete/#{task[:id]}", method: :get %>
      <% # 'method: "get"' also works!  %>
      <% # NOTE BELOW: Pops up a confirmation on the same page, chose not to use it though (commented it out). %>
      <%= button_to "DELETE", "/tasks/#{task[:id]}", method: "delete", data: {:confirm => "ARE YOUS SUREEEE?"} %>
    </td>
  </tr>
  <% end %>
</table> -->

<%= button_to "ADD", "/tasks/new", {method: :get, :class => "confirm"} %>

<!-- NOTE TO SELF: Another way of writing this would be...
<a href="/tasks/new"><button type="button">ADD</button></a>
-->
<%= button_to "DELETE ALL COMPLETED TASKS", "/tasks/delete/delete_all", {method: :get, :class => "confirm"} %>
</div>
