<h1> Hi, here is a list of all your tasks! </h1>
<table border="1">
  <tr>
    <th>
      Task Name
    </th>
    <th>
      Completed
    </th>
    <th>
      Details
    </th>
    <th>
      Update Task
    </th>
    <th>
      Mark Done
    </th>
    </th>
    <th>
      Delete Task
    </th>
    <th>
      Assigned to
    </th>
  </tr>

    <% @tasks.each do |task| %>
    <tr>
      <td>
        <%= task.name %>
      </td>
      <td>
        <%= (task.completed and "True") or "False"  %>
      </td>
      <td>
        <%= button_to "More Details", "/tasks/#{task.id}", method: :get %>
      </td>
      <td>
        <%= button_to "Update Task", "/modify/#{task.id}", method: :get %>
      </td>
      <td>
         <%= button_to "Mark Done!", "/tasks/mark_complete/#{task.id}",  method: :patch, data: { confirm: "Mark this task as Complete?" } %>
      </td>
      <td>
        <%= button_to "Delete Task", "/delete_confirmation/#{task.id}", method: :get %>
      </td>
      <td>
        <% unless task.person.nil? %>
        <%= task.person.name %>
        <% end %>
      </td>
      </tr>
  <% end %>
</table>
<br>



<%= link_to "Create New Task", "/new" %>
