<h1>Task List (Rails!)</h1>

<table>
  <tr>
    <th>
      Name
    </th>
    <th>
      Status
    </th>
    <th class="center">
      Details
    </th>
    <th class="center">
      Delete
    </th>
  </tr>
  <tbody>
    <% @all_tasks.each do |task| %>
    <tr>
      <td>
        <%= task.name %>
      </td>
      <td>
        <%= task.completed_date ? "Completed" : "Not Yet Completed" %>
      </td>
      <td class="center">
        <%= link_to "Show", "/tasks/#{task.id}" %>
      </td>
      <td class="center">
        <%= link_to "Delete", "/delete_task/#{task.id}" %>
      </td>
    </tr>
    <% end %>

  </tbody>
</table>

<div class="button_block">
  <%= link_to "Create New Task", "/tasks/new" %>
</div>
