<h1> Use this form to add a new task to your Table </h1>
<%= form_for @new do |f| %>
<fieldset>
  <legend>Submit a New Task </legend>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.label :person_id %>
  <%= f.select :person_id, options_for_select([['Michelle', 1], ['Lindsey', 2], ['Kari',3]]) %>

  <%= f.label :completed %>
  <%= f.select :completed, options_for_select([['True', "t"], ['False', "f"]]) %>

</fieldset>
<%=  f.submit "Looks Good! Add My Task!" %>

<% end %>
<br>
<br>

  <a href="/">Go Back to Task List</a>
