<div class="each_task">
<h3>Task:</h3> <p><%= @task.name %></p>
</div>
<div class="each_task"> 
<% if !@task.description.nil? && !@task.description.empty? %>
  <h3>Description:</h3> <p> <%= @task.description %></p>
<% end %>
</div>
<div class="each_task">  
<h3>Completed? </h3> <p><%= @task.completed ? "Yes" : "No" %></p>
</div>
<div class="each_task">
<% if @task.completed == true %>
<h3>Date Completed:</h3> <p> <%= @task.date_completed.month %> - <%= @task.date_completed.day%> -  <%= @task.date_completed.year%></p>
<% end %>
<%= button_to "Edit task", "/update/#{@task.id}", method: :get %>
</div>