<div class ="show">
<h1> Details About Your Task </h1>

<table>
  <tr>
    <th> Name </th>
    <th> Description </th>
    <th> Completed Date </th>
    <th> Person </th>
  </tr>



  <tr>
    <td>
        <%= @task.name %>
    </td>
    <td>
      <%= @task.description%>
    </td>
    <td>
      <%= @task.completed_at %>
    </td>
    <td>
      <% if @task.person_id %>
        <%= @task.person.name %>
      <% else %>
        <%= ""%>
      <% end %>
    </td>
  </tr>

</table>
<p>
<%= link_to "Back to Your List", "/" %>
</p>
<p>
  <%= link_to "Update Your Task", "#{@task.id}/edit" %>
</div>
