
<section id="task_list">
<h2>Task</h2>
<h3> <%= @task_name %> </h3>
<h2>Description:</h2>
<h3> <%= @task_description %> </h3>

<h2>Completed?</h2>
<% if @completed %>
  <h3> This task was completed on <%= @completed_date %>!! </h3>
<% else %>
  <h3>Not yet! Get on it, buddy.</h3>
<% end %>
</section>

<%= link_to "Edit Task", "/tasks/#{@task[:id]}/edit", method: :get  %>

<%= render "footer" %>
