<div class="task_list">
  <h1> Game Details </h1>

  <ul>
    <li>
      ID: <%= @task[:id] %>
    </li>
    <li>
      Name: <%= @task[:name] %>
    </li>
    <li>
      Description: <%= @task[:description] %>
    </li>
    <li class="<%= @completed_visibility %>">
      Completion Status: <%= @status %>
    </li>
    <li class="<%= @completed_visibility %>">
      Completion Date: <%= @task[:completed_at] %>
    </li>
    <!-- <li>
      Created at: <%= @task[:created_at] %>
    </li>
    <li>
      Updated at: <%= @task[:updated_at] %>
    </li> -->
  </ul>

  <div class="<%= @delete_visibility %>">
    <p> Are you sure you want to delete this task forever? </p>
    <%= button_to "DELETE FOREVER", "/tasks/#{@task[:id]}", {method: :delete, :class => "confirm"} %>
    <%= button_to "NO, WHY WOULD I WANT TO DO THAT?", "/", {method: :get, :class => "confirm"} %>
  </div>
</div>
