<div class="task_list">
  <h2> Game Details </h2>

  <ul>
    <li>
      Game: <%= @task_name %>
    </li>
    <li>
      Description: <%= @task_desc %>
    </li>
    <li>
      Completion Status: <%= @task_status %>
    </li>
    <li>
      Completion Date: <%= @task_completion_date %>
    </li>
    <li>
      Created at: <%= @task_created_at %>
    </li>
    <li>
      Updated at: <%= @task_updated_at %>
    </li>
  </ul>

  <div class="<%= @button_visibility %>">
    <%= button_to "EDIT", "/tasks/#{@task_id}/edit", method: "get" %>
    <%= button_to "DELETE", "/tasks/#{@task_id}", method: "delete", data: {:confirm => "ARE YOUS SUREEEE?"} %>
  </div>

  <div class="<%= @delete_visibility %>">
    <p>Are you sure you want to delete this task forever?</p>
    <%= button_to "DELETE FOREVER", "/tasks/#{@task[:id]}", {method: :delete, :class => "confirm"} %>
    <%= button_to "NO, WHY WOULD I WANT TO DO THAT?", "/", {method: :get, :class => "confirm"} %>
  </div>
</div>
