<section class="task_desc">
  <table>
    <tr>
      <th>Done</th>
      <th>Task</th>
      <th>Description</th>
      <th>Completion Date</th>
    </tr>

    <tr>
      <td class="comp_status">
        <% if @task.comp_date %>
          <%= "\u2713" %>
        <% else %>
          <%= "" %>
        <% end %>
        </td>
      <td class="name">
        <%= @task.name %>
        <% end %>
      </td>
      <td class="desc"><%= @task.desc %></td>
      <td class="comp_date">
        <% if @task.comp_date %>
          <%= @task.comp_date.strftime("%m/%d/%Y %I:%M %p") %>
        <% else %>
          <%= "" %>
        <% end %>
      </td>
    </tr>
  </table>
  <p class="return_home"><%= link_to "return to task list", "/" %></p>
</section>
