<section class="task_desc">
  <table>
    <tr>
      <th>Done</th>
      <th>Task</th>
      <th>Description</th>
      <th>Completion Date</th>
    </tr>

    <tr>
      <td class="comp_status">
        <% if @task.comp_date %>
          <%= "\u2713" %>
        <% else %>
          <%= "" %>
        <% end %>
        </td>
      <td class="name">
        <% if @task.comp_date %>
          <span class="complete"><%= @task.name %></span>
        <% else %>
          <span class="incomplete"><%= @task.name %></span>
        <% end %>
      </td>
      <td class="desc"><%= @task.desc %></td>
      <td class="comp_date"><%= @task.comp_date %></td>
    </tr>
  </table>
  <p class="return_home"><%= link_to "return to task list", "/" %></p>
</section>
