<section class="form">
  <fieldset class="add_task">
    <legend>Edit a Task</legend>
    <%= form_for @task, url: "/tasks/update/#{@task.id}" do |f| %>
      <span class="name_form">
      <%= f.label :name, 'Task', :input_html => { :value => 'f.name' } %>
      <%= f.text_field :name, :required => true %>
      </span>

      <span class="desc_form">
      <%= f.label :desc, 'Description', :input_html => { :value => 'f.desc' }  %>
      <%= f.text_area :desc, :placeholder => 'optional' %>
      </span>

      <span class="comp_date_form">
      <%= f.label :comp_date, 'Date of completion', :input_html => { :value => 'f.comp_date' } %>
      <%= f.date_field :comp_date %>
      </span>

      <%= f.submit 'update' %>
    <% end %>
  </fieldset>
</section>

<p class="return_home"><%= link_to "return to task list", "/" %></p>
