<div class="show">
  <h1>Are you sure you want to delete this task?</h1>

  <table>
		<tr>
			<td></td>
			<td>Name</td>
			<td>Description</td>
			<td>Completed Date</td>
		</tr>

		<tr>
		  <td>
  		  <% if @delete_task.completed_at != nil %>
  		  	&#10003;
  		  <% end %>
		  </td>
			<td><%= @delete_task.name %></td>
			<td><%= @delete_task.description %></td>
			<td><%= @delete_task.completed_at%></td>
		</tr>
  </table>


  <%= form_for @delete_task do |f| %>
  	<%= f.submit "Delete Task" %>
  <% end %>

  <%= link_to "Do Not Delete & Return To Task List", "/" %>

</div>