<H1> Create a Task </H1>

<fieldset>
  <legend>
    Enter in a Task
  </legend>

  <%= form_for @task do |f| %>
    <%= f.label :name %>
    <%= f.text_area :name %>

    <%= f.label :description %>
    <%= f.text_area :description %>

    <%= f.label :date %>
    <%= f.text_area :date %>
<fieldset>
  <legend> Is this task completed? </legend>
    <%= f.label :completed %>
    <%= f.radio_button("completed", "yes") %>
    <%= f.label "not completed" %>
    <%= f.radio_button("completed", "no") %>
</fieldset>
</fieldset>

    <%= f.submit %>

  <% end %>
