<h1> Details for Task <%= @task.id %> </h1>
<h1>Task List</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Completed</th>
      <th>Date Completed</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @task.name %></td>
        <td><%= @task.description %>
        <td><%= @task.completed %></td>
        <td>
          <%= @task.completed_at%>
        </td>
      <td>
      </tr>
  </tbody>
</table>

<a href="/">Take me back to my Task list</a>
