<h1> Update your task here! </h1>

<%= form_for @task, :url => { action: "update"} do |f| %>
  <fieldset>
    <legend>Update your task here!</legend>
    <%= f.label :task_name %>
    <%= f.text_field :task_name, required: :true %>

    <%= f.label :description %>
    <%= f.text_area :description, placeholder: "optional" %>

    <%= f.label :date_completed %>
    <%= f.date_field :date_completed %>

    <%= f.submit 'Update Task' %>
  </fieldset>

<% end %>
