<h1>Task List</h1>
<p>
  <a href= "/task/new">+ Add a new task</a>
</p>
<table>
  <thead>
    <tr>
      <th>
        Name 
      </th>
      <th>
        Completed? <%= button_to "sort", action: "sort_completed"%>
      </th>
      <th>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @all_tasks.each do |task|%>
      <tr>
        <td>
          <a href=<%="/task_#{task.id}/details"%>>
          <%= task.name %>
        </a>
        </td>
        <td>
          <%= task.completed %>
      </td>
      <td> <%= button_to "Delete task", "task_#{task.id}", method: :delete, data: {confirm:"Are you sure?"} %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="3">
        <a href="task/new">+ Add new Task</a>
      </td>
    </tr>
  </tbody>
</table>
