<%= link_to "Create a New Task", "/new" %>

<table>
  <tr>
  <th>id</th>
  <th>name</th>

<% task_num = 0 %>
<% @tasks.each do |t|%>

  <tr class="<%= t.date_completed ? 'completed' : 'uncompleted' %>" >
        <td><%= task_num += 1  %></td>
        <td><%= t.name %></td>
      <% @id = t.id%>
    <td><%= button_to "Go to Task", "/task/#{@id}", method: :get %>
    <td><%= button_to "Delete Task", "/task/#{@id}/delete", method: :delete, data: { confirm: "Are you sure you want to delete this task"}  %>
  </tr>
<% end%>

</table>



