<body>
<h1>To Do List</h1>
<table>
  <tr>
    <th>Task Name</th>
    <th>Completed?</th>
    <th>Delete?</th>
  <tr>
  <% @tasks.to_a.each do |task| %>
  <tr>
    <td><%= link_to "#{task.name}", "/show/#{task.id}" %></td>
    <td><% if task.completed_at == nil %>
      <%= link_to "\u274F", "/tasks/comp_status/#{task.id}", method: :get, class:"IP" %>
      <% else %>
      <%= link_to "\u2714", "/tasks/ip_status/#{task.id}", method: :get, class:"done"%>
      <% end %>
    </td>
    <td><%= button_to "X", "/tasks/#{task.id}", method: :delete, data: {confirm: "Are you sure?"} %></td>
  </tr>
    <% end %>
  <tr>
    <td colspan="3", class="new_task"><%= button_to "Add New Task", "/tasks/new" %></td>
  </tr>
</table>
</body>
