<h1>Welcome to your Tasks</h1>

<%= link_to "Create New Task", '/add_task' %>
<table>
  <tr>
  <% @tasks.each do |task| %>
    <td><%= task[:name] %></td>

  <%= form_for('/tasks/#{task:id}') do |f| %>
    <% if task[:completed_at] != nil %>
      <td><%= label_tag(:completed, "Task Complete") %></td>
      <td><%= check_box_tag(:completed, "yes", true) %></td>

      <% else %>
        <td><%= label_tag(:not_completed, "Mark Complete") %></td>
        <td><%= check_box_tag(:not_completed, "no") %></td>
    <% end %>
  <% end %>

    <td><%= button_to "Show Details", "/show/#{task.id}" %></td>
    <td><%= button_to "Delete Task", "/delete/#{task.id}", method: "delete", data: { :confirm => "Are you sure?!" } %></td>
  </tr>
  <% end %>
</table>

