<% content_for :head do %>
  <title>To Do List</title>
<% end %>

<table>

  <tr>
    <th></th>
    <th>Task</th>
    <th>Person</th>
    <th></th>
  </tr>

  <% @tasks.each do |task| %>
    <tr>
      <td>
      <% if task.completion_status == false %>
        <%= button_to "Complete!", "task/#{task.id}", method: :patch, class: "btn", data: { confirm: "Did you really complete #{task.name}?"} %>
      <% else %>
        <%= "\u2713" %>
      <% end %>
      </td>
      <td class="task_link"><%= link_to "#{task.name}", "task/#{task.id}" %></td>
      <td><%= task.person.name %></td>
      <td><%= button_to "delete", "delete/#{task.id}", method: :delete, class: "btn", data: { confirm: "Are you sure?" } %></td>
    </tr>
  <% end %>

</table>

<h3 class="link"><%= link_to "Add a New Task!", "task/new" %></h3>

<%= link_to "People", "/people" %>
