<%= render partial: "header", locals: { link_name: "+ Add Task",
                                        link_path: "/new",
                                        title: "Things To Do",
                                        kicker: true,
                                        edit_button: false } %>

<section>
  <ul class="tasks">
    <% @tasks.each do |task| %>
      <li>
        <!-- COMPLETED TASKS -->
        <% if task.completed_at %>
          <!-- CHECK MARK -->
          <div class="task-status">
            <%= button_to "/update/#{task.id}", class: 'complete-mark checked', data: { confirm: "Are you sure you want to mark this item as incomplete? The completion date will be deleted." } do %>
            <% end %>
          </div>

          <!-- TASK NAME -->
          <div class="task-name task-completed">
            <p>
              <%= link_to task.name, "/show/#{task.id}" %>
            </p>
          </div>

        <!-- UNCOMPLETED TASKS -->
        <% else %>
          <!-- CHECK MARK -->
          <div class="task-status">
            <%= button_to "/update/#{task.id}", class: 'complete-mark', data: { confirm: "Are you sure you want to mark this item as complete?" } do %>
            <% end %>
          </div>

          <!-- TASK NAME -->
          <div class="task-name">
            <p>
              <%= link_to task.name, "/show/#{task.id}" %>
            </p>
          </div>
        <% end %>

        <!-- ASSIGNMENT -->
        <div class="task-assignee">
          <p><%= "first_name" %></p>
        </div>

        <!-- DELETE BUTTON -->
        <div class="edit-task">
          <%= button_to "/delete/#{task.id}", data: { confirm: "Are you sure? This task will be gone FOR-EV-ER." } do %>
            <p>
             x
           </p>
          <% end %>
        </div>
      </li>

    <% end %>
  </ul>

</section>
