<body>
<h1>To Do List</h1>
<table>
  <tr>
    <th>Task Name</th>
    <th>Status</th>
    <th>Completed?</th>
    <th>Delete?</th>
  <tr>
  <% @tasks.to_a.each do |task| %>
  <tr>
    <td><%= link_to "#{task.name}", "/show/#{task.id}" %></td>
    <td><% if task.completed_at == nil %>
      <p class="IP"><%= link_to "IP", "/tasks/comp_status/#{task.id}", method: :get %></p>
      <% else %>
      <p class="done"><%= link_to "&#9989", "/tasks/ip_status/#{task.id}", method: :get%></p>
      <% end %>
    </td>
    <td>stuff</td>
    <td><%= button_to "X", "/tasks/#{task.id}", method: :delete, data: {confirm: "Are you sure?"}, class:"button" %></td>
  </tr>
    <% end %>
</table>
<p><%= button_to "Add New Task", "/tasks/new" %></p>

</body>
