<header>
  <h2>With freedom, books, flowers, and the moon, who could not be happy?</h2>
  <h3> &mdash; Oscar Wilde </h3>
</header>

<%= form_for @task do |f| %>
  <fieldset>
    <legend>So hurry up and add a book:</legend>
    <%= f.label :taskname, "Book Title", :placeholder => 'required'%>
    <%= f.text_field :taskname, :required => true %>
    <!-- Includes a guard against blanks -->
    <%= f.label :description, "Author" %>
    <%= f.text_field :description, :placeholder => 'optional' %>
  </fieldset>

  <%= f.submit 'Submit' %>

<% end %>
