<h1>Add a Task Plz</h1>

<%= form_for @new_task do |f| %>
  <fieldset>
    <legend>New Task</legend>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :description %>
      <%= f.text_field :description %>

      <%= f.label :completed_at %>
      <%= f.text_field :completed_at %>

    <%= f.submit "Add Task" %>
  <% end %>


  </fieldset>
