<header>
  <h2>With freedom, books, flowers, and the moon, who could not be happy?</h2>
  <h3> &mdash; Oscar Wilde </h3>
</header>

<%= form_for @task do |f| %>
  <fieldset>
    <legend>Book details:</legend>

    <!-- Includes a guard against blanks -->
    <%= f.label :taskname, "Title", :placeholder => 'required'%>
    <%= f.text_field :taskname, :required => true, :placeholder => 'required' %>

    <%= f.label :description, "Author" %>
    <%= f.text_field :description %>

    <%= f.label :datecomp, "Completed Date" %>
    <%= f.date_field :datecomp %>

    <%= f.label :comp_status, "Finished?" %>
    <%= f.select :comp_status, ([["read", "read"], ["unread", "unread"]]) %>
  </fieldset>

  <%= f.submit 'Submit' %>

<% end %>
