<div class="show">
  <h1>Task Details:</h1>

  <table>
		<tr>
			<th></th>
			<th>Task</th>
			<th>Owner</th>
			<th>Description</th>
			<th>Completed Date</th>
		</tr>

		<tr>
		  <td class="check">
  		  <% if @selected_task.completed_at != nil %>
  		  	&#10003;
  		  <% end %>
		  </td>
			<td class="task_name"><%= @selected_task.name %></td>
			<td class="task_owner"><%= @selected_task.person.name %></td>
			<td class="task_description"><%= @selected_task.description %></td>
			<td class="task_comp_at"><%= @selected_task.completed_at%></td>
		</tr>
  </table>


  <div class="button"> 
  	<%= link_to "Edit This Task", "/edit/#{@selected_task.id}" %>
	</div>

  <div class="button">
  	<%= link_to "Return To Task List", "/" %>
	</div>

</div> <!-- end of .show -->