<table>
  <%= render partial: "table_headers" %>
  <tr>
    <td><%= @task_finder.person.name %></td>
    <td><%= @task_finder.name %></td>
    <td><%= @task_finder.description %></td>
    <td class="task_options"><%= render partial: "task_status" %>
    <td><%= @task_finder.completed_at %></td>
  </tr>
  </table>

  <%= link_to "Edit", "/tasks/#{@task_finder.id}", method: :get %>

<%= render partial: "footer_links" %>
