
<table>
  <tr class="header">
  <td>Name</td>
  <td>Description</td>
  <td>Completion Status</td>
  <td>Completion Date</td>
  </tr>

  <tr>
    <td><%= @task[:taskname] %></td>
    <td><%= @task[:description] %></td>
    <td><%= @task[:comp_status] %></td>
    <td><%= @task[:datecomp] %></td>
  </tr>

</table>

<%= link_to "Edit deets", "/tasks/#{@task[:id]}/edit" %>
