<table>

  <tr>
    <th>Task Name</th>
    <th>Task Description</th>
    <th>Completion Status</th>
    <th>Completion Date</th>
  </tr>

  <tr>
    <td><%= @task.name %></td>
    <td><%= @task.description %></td>
    <td><%= @task.completion_status %></td>
    <td><%= @task.completed_at %></td>
  </tr>

</table>

<%= link_to "Update this task", "/task/#{@task.id}/edit" %>

<%= render "footer" %>
