<h1>Here is the task you requested</h1>


<ul>
  <li>id: <%= @task.id %></li>
  <li>Name: <%= @task.name %></li>
  <li>Date: <%= @task.date %></li>

  <li> Description: <%= @task.description %></li>
  <li>Created at: <%= @task.created_at %></li>
  <li>Updated at: <%= @task.updated_at %></li>
  <li>Completed?: <%= @task.completed %></li>

</ul>


<table>
  <tr>
    <th> ID </th>
    <th> Name </th>
    <th> Date</th>
    <th> Created at</th>
    <th>Updated at </th>
    <th>Completed </th>
  </tr>
  <tr>
    <td>  <%= task.id %> </td>
  </tr>
  <tr>
    <td>  <%= task.name %> </td>
  </tr>
  <tr>
    <td>  <%= task.date %> </td>
  </tr>
  <tr>
    <td>  <%= task.created_at %> </td>
  </tr>
  <tr>
    <td>  <%= task.updated_at %> </td>
  </tr>
  <tr>
    <td>  <%= task.completed %> </td>
  </tr>
    <% end %>

  </table>
