<table>
  <%= render partial: "table_headers" %>
  <tr>
    <td><%= @task_finder.name %></td>
    <td><%= @task_finder.description %></td>
    <td class="task_options"><% if @task_finder.completed_at == nil %>
       <p>In Process</p>
      <% else %>
       <p>&#10004</p>
       <% end %>
    <td><%= @task_finder.completed_at %></td>
  </tr>
  </table>
<pre>
  <%= link_to "Edit", "/tasks/#{@task_finder.id}", method: :get %>
  <%= link_to "Back to Home", "/" %>
</pre>
