
<table>
  <tr class="header">
  <td>Name</td>
  <td>Description</td>
  <td>Completion Status</td>
  <td>Completion Date</td>
  </tr>

  <tr>
    <td><%= @task.taskname %></td>
    <td><%= @task.description %></td>
    <td><%= @task.comp_status %></td>

    <!-- Only show the formatted date if one exists.  -->
    <% unless @task.datecomp == nil %>
      <td><%= @task.datecomp.strftime("%m/%d/%Y") %></td>
    <% end %>
  </tr>

</table>

<%= link_to "Edit deets", "/tasks/#{@task[:id]}/edit" %>
