<h1>Make Changes to: <%= @task.name %></h1>
<%= form_for @task, url: "/tasks/#{@task.id}", method: :patch do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :completed_at %>
  <%= f.date_field :completed_at %>

  <%= f.label :assign_to %>
  <%= f.collection_select :person_id, Person.all, :id, :name %>

  <%= f.submit 'Save' %>
<% end %>
