<table>
  <tr>
    <th>Name</th>
    <th>Birthday</th>
    <th>Age</th>
  </tr>
  <tr>
    <td><%= @person.name %></td>
    <td><%= @person.birthday %></td>
    <td><%= @person.age %></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td colspan="1.5"><%= link_to "All Tasks"%></td>
    <td colspan="1.5"><%= link_to "To Do List", "/", method: :get %></td>
  </tr>
  <tr>
    <td><%= link_to "Task Masters", "/people", method: :get %></td>
    <td><%= link_to "#{@person.name}'s Complete Task List", "/people/#{@person.id}/tasks", method: :get %></td>
</table>
