<main>
  <%= form_for @task, url: "/tasks/#{@task.id}", method: :patch do |n| %>
    <fieldset>
      <%= n.label :name %>
      <%= n.text_field :name %>

      <%= n.label :description %>
      <%= n.text_field :description %>

      <%= n.label :completed_at %>
      <%= n.text_field :completed_at %>

      <%= n.label :person_id %>
      <%= n.collection_select :person_id, Person.all, :id, :name, :include_blank => "Please select" %>
<!--  info stored as person_id..People.all, all the people for drop-down. will store person_id as person's id and will show the name -->
    </fieldset>
      <%= n.submit 'Edit Task' %>
  <% end %>
</main>
