<div class="form_pages">
  <%= form_for @new_task do |n| %>
    <fieldset>
      <%= n.label :name %>
      <%= n.text_field :name %>

      <%= n.label :description %>
      <%= n.text_field :description %>

      <%= n.label :completed_at %>
      <%= n.text_field :completed_at %>

      <%= n.label :person_id %>
      <%= n.select :person_id, options_for_select(@people), {:include_blank => "Please select"}  %>

    </fieldset>
      <%= n.submit 'Submit Task' %>
  <% end %>

  <p> <%= link_to "Back to List of All Tasks", "/" %> <p>

</div>
