<h1>Add new task</h1>

<%= form_for @task do |f| %>
  <fieldset>
    <legend>New Task</legend>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :description %>
    <%= f.text_field :description %>

    <%= f.label :completed_at %>
    <%= f.text_field :completed_at %>
  </fieldset>

  <%= f.submit %>
<% end %>

<div class="home">
  <%= link_to "Back to Task List", "/tasks"%>
</div>
