<h1>TASK LIST</h1>

<table>
  <tr>
    <th> Name </th>
    <th> Description </th>
    <th> Completed? </th>
    <th> Date Completed </th>
  </tr>

  <% @tasks.each_with_index do |task, index| %>
    <div>
      <tr>
        <td> <%= link_to "#{task.name}", "/tasks/#{task.id}" %> </td>
        <td> <%= task.description %> </td>
        <td> <%= task.completed_at ? "Yes" : "No" %> </td>
        <td> <%= task.completed_at %> </td>
        <td>
          <%= button_to "Edit", "/tasks/#{task.id}/edit", method: "get" %>
        </td>
        <td>
          <%= button_to "Delete", "/tasks/#{task.id}", method: "delete", data: { confirm: "Are you sure you want to delete?" } %>
        </td>
      </tr>
    </div>
  <% end %>
</table>

<div class="add_task">
  <%= button_to "Add new task", "/tasks/new", method: "get"%>
</div>
