<h1> TASK #<%= @task[:id] %></h1>

<table>
  <tr>
    <th> Name </th>
    <th> Description </th>
    <th> Completed? </th>
    <th> Date Completed </th>
  </tr>
  <tr>
    <td><%= @task[:name] %></td>
    <td><%= @task[:description] %></td>
    <% if @task[:completed_at] == nil %>
      <td>No</td>
    <% else %>
      <td>Yes</td>
    <% end %>
    <td><%= @task[:completed_at] %></td>
  </tr>
</table>

<div>  
  <%= link_to "Back to Task List", "/", class: "link" %>
</div>
