<h1>TASK LIST</h1>

<%= button_to "Add new task", "/tasks/new", method: "get" %>

<table>
  <tr>
    <th> Name </th>
    <th> Description </th>
    <th> Assigned to </th>
    <th> Completed? </th>
  </tr>

  <% @tasks.each do |task| %>
    <div>
      <tr>
        <td> <%= link_to "#{task.name}", "/tasks/#{task.id}" %> </td>
        <td> <%= task.description %> </td>
        <td> <%= Task.find(task.id).person.name %> </td>
        <td class="completed_task"> <%= task.completed_at ? "Yes" : (button_to "Task Completed", "/tasks/#{task.id}") %> </td>
        <td>
          <%= button_to "Edit", "/tasks/#{task.id}/edit", method: "get" %>
        </td>
        <td>
          <%= button_to "Delete", "/tasks/#{task.id}", method: "delete", data: { confirm: "Are you sure you want to delete?" } %>
        </td>
      </tr>
    </div>
  <% end %>
</table>

<div class="home">
  <%= link_to "See all users", "/people" %>
</div>
