<table class="table_data">
  <tr class="table_headers">
    <th>Task Name</th>
    <th>Description</th>
    <th>Status</th>
    <th>Person in Charge</th>
    <th>Completed Date</th>
  </tr>

  <tr>
    <td><%= @task.name %></td>
    <td><%= @task.description %></td>
    <td>
      <% if @task.completed_at.nil? %>
        Not yet completed.
      <% else %>
        Completed.
      <% end %>
    </td>
    <td> <%= @person ? @person.name : "" %> </td>
    <td> <%= @task.completed_at %></td>
    <td>
      <%= button_to "Edit this task", "/tasks/edit/#{@task.id}", method: :post %>
    </td>
  </tr>
</table>

<%= render "shared/home_page_link" %>
