<% if @tasks %>
  <form id="delete" class="" action="" method="post">
    <legend><h2>Which tasks do you want to delete?</h2></legend>

    <% @tasks.each do |task| %>
      <label><input name="id[<%= task.id  %>]" type="checkbox" /><%= task.name %><%= task.description ? ": #{ task.description }" : "" %></label>
    <% end %>

    <div class="center-this-stupid-button">
    <%= button_to "FINISH THEM!", "/deleted/#{ @task.id }", method: "delete", action: "destroy" %>
    <!-- code to prompt a confirmation popup: -->
    <!-- data: {:confirm => "Are you sure you want to end this task forever?"} -->
    </div>
  </form>
<% else %>
  <h2 class="copper">Are you sure you want to delete this task?</h2>
  <p><%= @task.name %></p>
  <p><%= @task.description %></p>
  <% if @task.date_complete %>
    <p><%= @task.date_complete.strftime("%A, %B %d, %Y") %></p>
  <% end %>

  <div class="center-this-stupid-button">
  <% genders = ["him", "her", "her", "him", "her", "her", "him", "him"] %>
  <% gender = genders.sample %>
  <%= button_to "FINISH #{ gender.upcase }!", "/deleted/#{ @task.id }", method: "delete", action: "destroy" %>
  <!-- code to prompt a confirmation popup: -->
  <!-- data: {:confirm => "Are you sure you want to end this task forever?"} -->
  </div>
<% end %>
