<% headings = ["Taskmaster: Master Your Tasks", "Ye Olde List of Tasks", "Ye Olde List of To Doeth", "Carl Says You Must Do These Things", "To Do", "TASKMASTER", "FINISH THEM", "Thine Tasks", "Thine Listesth of To Doeth", "Carl Says You Must"] %>
<% heading = headings.sample %>

<% unless @tasks.nil? %>
  <table>
    <thead>
      <tr>
        <td colspan="4"><h1><%= heading %></h1></td>
      </tr>
    </thead>

    <tr class="secret-head">
      <td colspan="4"><h2>Works In Progress (By Person)</h2>
        <p>
        <% @people.each_with_index do |person, counter| %>
          <% if counter == 4 %>
        </p><p>
          <% end %>
          <div class="wrap">
            <%= link_to "#{ person[:name] }", "/people/#{ person[:id] }", title: "Review #{ person[:name] }'s tasks." %> -- <span class="number"><%= person[:count] %></span>
          </div>
        <% end %>
      </td>
    </tr>

    <% @tasks.each do |task| %>
      <tr class="tasks">
        <td class="done"><%= link_to "#{ task.date_complete ? "☑" : "☐" }", "/complete/#{ task.id }", method: :patch, title: "#{ task.date_complete ? "undo" : "DONE!" }", data: { confirm: "#{ task.date_complete ? "Are you sure you want to undo this task's completion? (Task: #{ task.name })" : "Are you sure you want to mark this task complete? (Task: #{ task.name })" }"} %></td>
        <!-- PROMPT:
        data: { confirm: "#{ task.date_complete ? "Are you sure you want to undo this task's completion? (#{ task.name })" : "Are you sure you want to mark this task complete? (#{ task.name })" }"}
        -->
        <!--
        Hmm. Note to self (& any viewers?): investigate why in MacOSX Chrome it's not possible to hit space to dismiss the dialog. Yes, the dialog goes away. No, it doesn't provide confirmation. @_@
        -->
        <td class="<%= task.date_complete ? 'finished' : 'unfinished' %>">
          <% if task.person %>
            <% person_name = task.person.name %>
            <%= link_to "#{ person_name }", "/people/#{ task.person_id }/tasks", title: "Review #{ person_name }'s tasks.", class: "person" %>
          <% end %>

          <%= link_to "#{ task.name }", "/show/#{ task.id }", title: "#{ task.name }" %>
        </td>
        <td class="edit"><%= link_to "✎", "/edit/#{ task.id }", title: "Edit this task!" %></td>
        <td class="kill"><%= link_to "KILL", "/delete/#{ task.id }", title: "BURNINATE THE COUNTRYSIDE! Delete this task." %></td>
      </tr>
    <% end %>
  </table>
<% end %>
