<table id="people">
  <thead>
    <td>Person</td>
    <td>Total Assigned</td>
    <td>In Progress</td>
    <td>Complete</td>
  </thead>
  <% @people.each do |person| %>
    <tr class="number">
      <td class="person-name"><%= link_to "#{ person[:person].name }", "/people/#{ person[:person].id }", title: "View the other terrible things that #{ person[:person].name } is planning to do."  %></td>
      <td><%= person[:tasks_count] %></td>
      <td><%= person[:tasks_wip] %></td>
      <td><%= person[:tasks_done] %> (<%= person[:percent_complete] %> %)</td>
    </tr>
  <% end %>
</table>
