<% content_for :head do %>
  <title>Carl's Taskmaster: <%= @person.name %></title>
<% end %>

<section class="person">
  <h2>Person</h2>
  <%= @person.name %>


  <% if @person.summary %>
    <h2>Additional Info</h2>
    <p><%= @person.summary %></p>
  <% end %>

  <h2>Statistics</h2>
  <p><span class="number"><%= @tasks_count %></span> tasks assigned</p>
  <p><span class="number"><%= @tasks_wip %></span> in progress</p>
  <p><span class="number"><%= @tasks_done %></span> completed</p>
  <p><%= link_to "view tasks", "/people/#{ @person.id }/tasks", title: "Review #{ @person.name }'s tasks.", class: "person" %></p>
</section>
