<section class="task">
  <h2>Name of Task</h1>
  <%= @task.name %>

  <% if @task.description && @task.description.length > 0 %>
    <h2>Additional Details</h2>
    <p><%= @task.description %></p>
  <% end %>

  <% if @task.date_complete %>
    <h2>Date Completed</h2>
    <p><%= @task.date_complete.strftime("%A, %B %d, %Y") %></p>
  <% end %>
</section>

<section class="task-options">
  <h2>Taskmaster Options</h2>
  <p><%= link_to "I did this already!", "/complete/#{ @task.id }", class: "finished", title: "Mark this task complete." %></p>
  <p><%= link_to "Uhhhh, I think we need to make some changes.", "/edit/#{ @task.id }", title: "Edit this task." %></p>
  <p><%= link_to "This task is stupid. DESTROY it.", "/delete/#{ @task.id }", title: "Initiate self destruct sequence in T-minus 3... 2..." %></p>
</secion>
