<%= form_for @task, url: @url do |f| %>
<fieldset class="form">

    <div class="name">
      <%= f.label :name, 'Task Name' %>
      <%= f.text_field :name %>
    </div>

    <div class="description">
      <%= f.label :description %>
      <%= f.text_area :description, :placeholder => 'optional' %>
    </div>

    <div class="complete_by">
      <%= f.label :complete_by, 'Complete By' %>
      <%= f.date_field :complete_by %>
    </div>

    <div class="person_id">
      <%= f.label :person_id, 'Person' %>
      <%= f.collection_select :person_id, Person.all, :id, :name, :prompt => true %>
    </div>

    <div class="submit">
      <%= f.submit :class => 'btn' %>
    </div>
</fieldset>
<% end %>
