<!DOCTYPE html>
<html>
<head>
  <%= yield :head %>
  <title>Carl's Taskmaster: Master your tasks.ß</title>
  <meta name="description" content="This simple To Do List / Task List tracker was a project from weeks 7 and 8 of Ada Developers Academy Cohort[2]. This was my first Rails app! --Jeri" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Indie+Flower" />
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: "header_footer", locals: { top: true } %>

  <main>
    <%= yield %>
  </main>

  <%= render partial: "header_footer", locals: { top: false } %>
</body>
</html>
