<!DOCTYPE html>
<html>
<head>
  <%= yield :head %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico'%>
</head>
<body>
  <section class="notice"><%= notice if notice %></section>

  <%= yield %>

  <footer>
    <nav>
      <%= link_to 'All People', people_path %> |
      <%= link_to 'All Tasks', tasks_path %> |
      <%= link_to 'Back', :back %>

      <%= yield :nav %>
    </nav>
  </footer>
</body>
</html>
